<div class="container">
    <h1>Voir le groupe</h1>

    <a href="#" routerLink="/groupe/index" class="btn btn-primary btn-retour">Retour</a>

    <div>
        <strong>Id :</strong>
        <p>{{ groupe.id }}</p>
    </div>

    <div>
        <strong>Nom :</strong>
        <p>{{ groupe.nom }}</p>
    </div>

    <div>
        <strong>Origine :</strong>
        <p>{{ groupe.origine }}</p>
    </div>

    <div>
        <strong>Ville :</strong>
        <p>{{ groupe.ville }}</p>
    </div>

    <div>
        <strong>Année début :</strong>
        <p>{{ groupe.anneeDebut }}</p>
    </div>

    <div>
        <strong>Année séparation :</strong>
        <p>{{ groupe.anneeSeparation }}</p>
    </div>

    <div>
        <strong>Fondateurs :</strong>
        <p>{{ groupe.fondateurs }}</p>
    </div>

    <div>
        <strong>Nombre de membres :</strong>
        <p>{{ groupe.membres }}</p>
    </div>

    <div>
        <strong>Courant :</strong>
        <p>{{ groupe.courant }}</p>
    </div>

    <div>
        <strong>Présentation :</strong>
        <p>{{ groupe.presentation }}</p>
    </div>

</div>